body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  color: white;
  height: 200vh;
}

.bg {
  z-index: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    #211604 0%,
    #1e95c1 25%,
    #ffa71a 51%,
    #490a88 100%
  );
  animation: AnimateBG 30s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#first {
  height: 100vh;
}

.elements {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding-top: 20px;
}

.elements > div {
  width: 1rem;
  height: 1rem;
  z-index: 1;
}

#rectangle {
  background: #ffa71a;
}

#circle {
  background: #8e1dff;
  border-radius: 50%;
}

#triangle {
  width: 0px;
  height: 0px;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 1rem solid #14c0ff;
}

.intro {
  z-index: 1;
  padding: 20px;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro {
  text-align: center;
}

.intro-title-1,
.intro-title-2 {
  font-size: 3.8rem;
}

.intro-title-1 {
  font-weight: lighter;
  margin-bottom: -3rem;
}

.intro-text {
  font-size: 1.2rem;
  font-weight: lighter;
}

.intro-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
  flex-wrap: wrap;
}

.intro-buttons > button {
  padding: 18px 32px;
  border-radius: 40px;
  border: 0;
  text-decoration: underline;
  font-size: 1rem;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  box-shadow: 1px 1px 20px 10px rgb(0, 0, 0, 0.1);
  cursor: not-allowed;
}

.intro-buttons > button:active {
  animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

#intro-button-web {
  background-color: #ffa71a;
}

#intro-button-mail {
  background-color: #8e1dff;
}

#intro-button-photo {
  background-color: #14c0ff;
}

.bg-elements > div {
  position: absolute;
  z-index: 0;
}

#rectangle-1,
#rectangle-2,
#rectangle-3,
#rectangle-4 {
  background: #ffa71a;
}

.bg-elements > * {
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  filter: blur(3px);
}

@keyframes change-1 {
  to {
    opacity: 0.2;
    rotate: 20deg;
  }
}

@keyframes change-2 {
  to {
    opacity: 0.6;
    rotate: -30deg;
  }
}

@keyframes change-3 {
  to {
    opacity: 0.5;
    rotate: 25deg;
  }
}

#rectangle-1 {
  width: 300px;
  height: 300px;
  top: -25%;
  right: 10%;
  transform: rotate(54deg);
  animation-name: change-1;
  animation-duration: 8s;
}

#rectangle-2 {
  width: 150px;
  height: 150px;
  top: 20%;
  left: 40%;
  transform: rotate(18deg);
  opacity: 0.3;
  animation-name: change-2;
  animation-duration: 7s;
}

#rectangle-3 {
  width: 60px;
  height: 60px;
  top: 60%;
  left: 20%;
  transform: rotate(10deg);
  opacity: 0.3;
  animation-name: change-3;
  animation-duration: 5s;
}

#rectangle-4 {
  width: 300px;
  height: 300px;
  top: 90%;
  left: 30%;
  transform: rotate(-20deg);
  animation-name: change-1;
  animation-duration: 6s;
}

#circle-1,
#circle-2,
#circle-3,
#circle-4 {
  background: #8e1dff;
  border-radius: 50%;
  animation-name: change-3;
  animation-duration: 4s;
}

#circle-1 {
  width: 220px;
  height: 220px;
  top: -5%;
  left: 10%;
}

#circle-2 {
  width: 260px;
  height: 260px;
  top: 10%;
  right: 25%;
  opacity: 0.1;
}

#circle-3 {
  width: 140px;
  height: 140px;
  top: 50%;
  right: 25%;
  opacity: 0.4;
}

#circle-4 {
  width: 100px;
  height: 100px;
  bottom: 20%;
  left: 25%;
  opacity: 0.7;
}

#triangle-1 {
  width: 0px;
  height: 0px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid #14c0ff;
  top: 30%;
  right: 5%;
  transform: rotate(20deg);
  opacity: 0.3;
  animation-name: change-1;
  animation-duration: 6s;
}

#triangle-2 {
  width: 0px;
  height: 0px;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 240px solid #14c0ff;
  bottom: 0;
  right: 5%;
  transform: rotate(50deg);
  opacity: 0.3;
  animation-name: change-2;
  animation-duration: 5s;
}
